[buildout]
extends =
    sources.cfg
    postgres.cfg
    mailtosql.cfg
    http://grok.zope.org/releaseinfo/1.4/versions.cfg

find-links = http://download.zope.org/distribution
          
unzip = true

sources = sources

versions = versions
    
extensions =
    lovely.buildouthttp==0.2.3

parts +=
    app
    mkdirs
    site_zcml
    zpasswd
    data
    log
    fix_z3c_blobfile

# Note: all additional packages 
# (e.g rules_simplematch..) need to be register in /etc/site.zcml !!
eggs = 
    raptus.mailcone.app
    raptus.mailcone.core
    raptus.mailcone.usersandgroups
    raptus.mailcone.layout
    raptus.mailcone.rules_complexmatch
    raptus.mailcone.rules_pythoncode
    raptus.mailcone.rules_sendmail
    raptus.mailcone.rules_simplematch
    raptus.mailcone.rules_writelog
    psycopg2

eggs_app = 
    z3c.evalexception>=2.0
    Paste
    PasteScript
    PasteDeploy


[versions]
hurry.resource = 0.10
hurry.zoperesource = 0.7
SQLAlchemy  = 0.6.8
z3c.saconfig = 0.12
zc.sourcefactory = 0.7.0
zope.dublincore = 3.8.1
zc.resourcelibrary = 1.0.1
fanstatic = 0.11.1
zope.fanstatic = 0.12
js.jquery = 1.6.1

[app]
recipe = z3c.recipe.scripts
eggs =
    ${buildout:eggs}
    ${buildout:eggs_app}

site.zcml = <include package="todo_plus" />


[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    ${zope_conf:filestorage}
    ${zope_conf:logfiles}
    ${zope_conf:blobstorage}


[site_zcml]
recipe = collective.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml


[zope_conf]
input = etc/zope.conf.in
filestorage = ${buildout:directory}/var/filestorage
blobstorage = ${buildout:directory}/var/blobstorage
logfiles = ${buildout:directory}/var/log
# 'extra' is copied verbatim. Use it for product config sections and so.
extra = 


# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.scripts
eggs =
  raptus.mailcone.mailfilter
  zope.password
entry-points =
  zpasswd=zope.password.zpasswd:main


# The [data] and [log] parts are still in here to instruct buildout to not
# unintentionally throw away the parts/data and parts/log subdirectories
# that contain the Data.fs and the log files. These files should be
# copied to the new locations. See the upgrade notes for more information.
[data]
recipe = zc.recipe.filestorage


[log]
recipe = zc.recipe.filestorage

[paster_ini_deploy]
recipe = collective.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini
host = 127.0.0.1
port = 8080


[zope_conf_deploy]
<= zope_conf
recipe = collective.recipe.template
output = ${buildout:parts-directory}/etc/zope.deploy.conf
devmode = off


[zope_conf_debug]
<= zope_conf
recipe = collective.recipe.template
output = ${buildout:parts-directory}/etc/zope.debug.conf
devmode = on


[paster_ini_debug]
recipe = collective.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini
host = 127.0.0.1
port = 8080


[fix_z3c_blobfile]
recipe = collective.recipe.cmd:py
on_install = true
cmds =
  >>> import os, re
  >>> base = buildout.get('buildout', {}).get('eggs-directory', 'eggs')
  >>> for egg in os.listdir(base):
  >>>     if egg.startswith('z3c.blobfile'):
  >>>         break
  >>> path = os.path.join(base, egg, 'z3c', 'blobfile', 'overrides.zcml')
  >>> print '*'*45+'\nPatching z3c.blobfile\n'+'*'*45
  >>> file = open(path, 'r')
  >>> contents = file.read()
  >>> file.close()
  >>> file = open(path, 'w')
  >>> file.write(re.sub(r' (\<include package\=\"z3c\.blobfile\.browser\" \/\>)', r' <!--\1-->', contents))
  >>> file.close()
