[versions]
Chameleon = 2.7.3
collective.recipe.cmd = 0.5
cp.recipe.cmd = 0.4
hexagonit.recipe.cmmi = 1.5.0
z3c.pt = 2.2

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
grokcore.chameleon = 1.0rc4

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
grokcore.layout = 1.4

#Required by:
#hexagonit.recipe.cmmi 1.5.0
hexagonit.recipe.download = 1.5.0

#Required by:
#raptus.mailcone.core 1.0a1dev-r229
hurry.query = 1.1.0

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
js.jquery-datatables = 1.8.2

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
js.jquery-elastic = 1.6.11

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
#horae.datetime 1.0a1
js.jqueryui = 1.8.16-1

#Required by:
#js.yui-wireit 0.5.0dev-r98
js.yui = 2.8.2-1

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
megrok.form = 0.2.5

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
megrok.navigation = 0.6.1

#Required by:
#raptus.mailcone.core 1.0a1dev-r229
megrok.rdb = 0.12

#Required by:
#raptus.mailcone.layout 1.0a1dev-r236
megrok.rendersource = 0.5.1

#Required by:
#raptus.mailcone.core 1.0a1dev-r229
psycopg2 = 2.4.4

#Required by:
#raptus.mailcone.mailtosql 1.0a1dev-r166
pyzmail = 0.9.9

#Required by:
#raptus.mailcone.mailtosql 1.0a1dev-r166
stripogram = 1.5

#Required by:
#z3c.widget 0.1.6
z3c.i18n = 0.1.2

#Required by:
#z3c.widget 0.1.6
z3c.javascript = 0.2-r80712

#Required by:
#z3c.widget 0.1.6
z3c.schema = 0.7.2

#Required by:
#raptus.mailcone.cronjob 1.0a1dev-r240
z3c.taskqueue = 0.1-alpha-4

#Required by:
#zc.datetimewidget 0.5.2
zc.i18n = 0.7.0

#Required by:
#z3c.taskqueue 0.1-alpha-4
zc.queue = 1.3

#Required by:
#zope.app.interface 3.6.0
zodbcode = 3.4.0

#Required by:
#z3c.widget 0.1.6
zope.app.cache = 3.7.0

#Required by:
#z3c.blobfile 0.1.0
#z3c.widget 0.1.6
zope.app.file = 3.6.1

#Required by:
#zope.app.zapi 3.5.0
zope.app.interface = 3.6.0

#Required by:
#zc.resourcelibrary 1.0.1
zope.app.zapi = 3.5.0


#Required by:
#megrok.rdb 0.12
zope.sqlalchemy = 0.7
